body {
  margin: 0px;
  padding: 0px;
  background-color: #e9e9e9;
}

button {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 657px;
}
button:focus,
button:focus-visible {
  outline: none;
}

input:focus,
input:focus-visible {
  outline: none;
}

header {
  background-color: #2c3e50;
  width: 100%;
  position: relative;
}

#HeaderTitle {
  color: #ffffff;
}

#Title {
  display: inline-block;
  margin: 15px 0px 0px 80px;
  padding: 0px 420px 0px 110px;
}

#UserInput {
  display: inline-block;
  margin-bottom: 15px;
}

#SearchIcon {
  display: inline;
  position: relative;
}

.container {
  max-width: 100%;
}

.autocomplete {
  display: flex;
  align-items: center;
  width: 500px;
}

.autocomplete input {
  width: 100%;
  border: none;
  margin: 10px 0px;
  font-size: 16px;
  padding: 10px 10px 0px 10px;
}

.suggestions {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #d4d4d4;
  background-color: #f7f7f7;
  border-radius: 0 0 10px 10px;
  position: absolute;
  top: 40px;
}

.suggestions li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
  width: 500px;
  display: flex;
  align-items: center;
}

.suggestions li:hover {
  background-color: #d4d4d4;
}
